fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
python-dotenv
requests
openai
PyMuPDF
pdf2image
pytesseract
tiktoken
httpx
python-multipart
passlib
python-jose
numpy
scikit-learn
torch==2.6.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

